.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.hero__name {
    display: flex;
    gap: 1rem;
    font-size: 4.5rem;
    font-weight: 400;
    text-decoration: none;
    animation: zoom 2s ease-in-out infinite alternate;
}

.hero__name-letter {
    position: relative;
    /* text-shadow: 2rem 2rem 0.125rem var(--primary-highlight-color); */
    transition: var(--primary-all-transition);
}

.hero__name-letter:hover{
    filter: brightness(250%);
}

.hero__name-letter:nth-child(1) {
   color:var(--letter-color-1)
}

.hero__name-letter:nth-child(2) {
    color:var(--letter-color-2)
}

.hero__name-letter:nth-child(3) {
    color:var(--letter-color-3)
}

.hero__name-letter:nth-child(4) {
    color:var(--letter-color-4)
}

.hero__name-letter:nth-child(5) {
    color:var(--letter-color-5)
}

.hero__name-letter::before {
    content: var(--letter);
    position: absolute;
    transform: scale(1.125);
    filter: blur(0.25rem);
}

.hero__name-letter::after {
    content: var(--letter);
    position: absolute;
    top: 75%;
    left: 0;
    filter: blur(0.15rem);
    transform: rotateX(137.5deg);
}

@media (min-width: 854px){
    .hero__name{
        font-size: 5rem;
    }
}