@import url('./variables.css');
@import url('./animation.css');
@import url('./hero.css');
@import url('./acrostic.css');

.body {
    background-image: radial-gradient(var(--primary-theme-color),var(--secondary-theme-color) );
    /* background-color: var(--primary-theme-color); */
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
}